@page "/addtolist"
@model ProjectMangukiyaBrijMukesh.Pages.AddToListModel

@{
    ViewData["Title"] = "AddToList";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>AddToList</h1>

<h4>TblWatchListItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TblWatchListItem.ListId" class="control-label"></label>
                <select asp-for="TblWatchListItem.ListId" class ="form-control" asp-items="ViewBag.ListId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TblWatchListItem.MediaId" class="control-label"></label>
                <input asp-for="TblWatchListItem.MediaId" class="form-control" />
                <span asp-validation-for="TblWatchListItem.MediaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblWatchListItem.MediaType" class="control-label"></label>
                <input asp-for="TblWatchListItem.MediaType" class="form-control" />
                <span asp-validation-for="TblWatchListItem.MediaType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblWatchListItem.GenreId" class="control-label"></label>
                <select asp-for="TblWatchListItem.GenreId" class ="form-control" asp-items="ViewBag.GenreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TblWatchListItem.AddedDate" class="control-label"></label>
                <input asp-for="TblWatchListItem.AddedDate" class="form-control" />
                <span asp-validation-for="TblWatchListItem.AddedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblWatchListItem.Description" class="control-label"></label>
                <input asp-for="TblWatchListItem.Description" class="form-control" />
                <span asp-validation-for="TblWatchListItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
