@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-7 neonText">POPULAR RIGHT NOW</h1>
    <div class="grid-container">
        @foreach(var item in Model.Popular)
        {
            <div class="grid-item">
                <a class="title" href="/details?type=@item.Type&amp;id=@item.Id">
                <img src="@item.Poster" alt="img" />
                <p class="neonText1">@item.Title</p>
                </a>
            </div>
        }
    </div>
</div>
