html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #f1f1f1;
    background-color: #01092B;
    margin: 0;
    padding-top: 5px;
    min-height: 1200px;
}

header {
    background-color: #01092B;
    border-bottom: 1px solid #333;
}

.title-image {
    width: 45%;
    max-height: 175px;
    margin: auto;
    display: block;
    display: block;
    -moz-filter: drop-shadow(0 0 5em rgb(255, 0, 0));
    -webkit-filter: drop-shadow(0 0 5em rgb(255, 0, 0));
    filter: drop-shadow(0 0 5em rgb(255, 0, 0));
}



.content-wrapper {
    width: 990px;
    margin: 0 auto;
    padding: 20px;
    background-color: #01092B;
}

.site-title a {
    color: #6AC045;
    text-decoration: none;
    font-size: 1.8em;
}

nav {
    margin: auto -100px auto -100px;
}

    nav ul, .drop {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

        nav ul li, .drop {
            float: left;
        }

            nav ul li a, .drop {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                nav ul li a:hover {
                    background-color: #111;
                }

                .drop:hover .drop-content {
                    background-color: #111;
                }

.drop {
    color: white !important;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #01092B;
    color: #999;
    text-align: center;
    border-top: 0.1em solid #333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px;
    margin-top: 20px;
    margin: 20px -90px auto -90px;
}

.grid-item {
    color: #fff;
    padding: 10px;
    text-align: center;
}

    .grid-item img {
        max-width: 100%;
        height: auto;
        -webkit-backdrop-filter: blur(10px) saturate(5);
        backdrop-filter: blur(10px) saturate(5);
        padding: 2.5px;
    }

.glow-container {
    width: 100%;
    height: auto;
    
}

.details-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    font-size: 1.3em;
}

.poster {
    max-width: 300px;
    margin-right: 20px;
}

.img-backdrop {
    position: fixed;
    -moz-filter: blur(3px);
    -webkit-filter: blur(3px);
    filter: blur(3px);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
}

.info {
    max-width: 600px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #f1f1f1;
}

    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

tr:hover {
    background-color: #164b06d7;
}

a {
    color: #75cd33;
}

.title {
    text-decoration: none;
    font-size: 1.4em;
}

.neonText {
    animation: flicker 1.3s infinite alternate;
    color: #fff;
}

@keyframes flicker {

    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
    }

    20%, 24%, 55% {
        text-shadow: none;
    }
}

.neonText1 {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff;
}

.item-image {
    -moz-filter: drop-shadow(0 0 1em rgb(164, 233, 75));
    -webkit-filter: drop-shadow(0 0 1em rgb(164, 233, 75));
    filter: drop-shadow(0 0 1em rgb(164, 233, 75));
}

.hover-glow:hover, #myPieChart:hover, #barChart:hover, #LineChart:hover {
    -moz-filter: drop-shadow(0 0 1em rgb(241, 8, 220));
    -webkit-filter: drop-shadow(0 0 1em rgb(241, 8, 220));
    filter: drop-shadow(0 0 1em rgb(241, 8, 220));
}
